<div class='dashboard'>
    <div class="dashboard-nav">
        <header><a href="main" class="menu-toggle"><i class="fa fa-bars"></i></a><a href="main" class="brand-logo"><i
                    class="fa fa-bed"></i> <span>MMB Complex</span></a></header>
        <nav class="dashboard-nav-list">
            
                <a href="main" class="dashboard-nav-item "><i class="fa fa-tachometer"></i> dashboard
            </a>
            <a href="main" class="dashboard-nav-item"><i class="fa fa-address-book-o"></i>
                Address Book </a>
                <a href="main" class="dashboard-nav-item"><i class="fa fa-download"></i> Download </a>
            <div class='dashboard-nav-dropdown'><a  class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i
                        class="fa fa-bed"></i> Room </a>
                <div class='dashboard-nav-dropdown-menu'>
                    <a href="main" class="dashboard-nav-dropdown-item">All</a>
                    <a href="main" class="dashboard-nav-dropdown-item">Recent</a>
                    </div>
            </div>
            <div class='dashboard-nav-dropdown'><a class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i
                        class="fa fa-users"></i> Users </a>
                <div class='dashboard-nav-dropdown-menu'>
                <a href="main" class="dashboard-nav-dropdown-item">All</a></div>
            </div>
            <div class='dashboard-nav-dropdown'>
                <a class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                    <i class="fa fa-money"></i> Payments </a>
                <div class='dashboard-nav-dropdown-menu'>
                    <a href="main" class="dashboard-nav-dropdown-item">All</a><a
                        href="main" class="dashboard-nav-dropdown-item">Paid</a><a href="main"
                        class="dashboard-nav-dropdown-item"> Not-Paid</a>
                </div>
            </div>
            <a href="main" class="dashboard-nav-item"><i class="fa fa-cogs"></i> Settings </a><a href="main"
                class="dashboard-nav-item"><i class="fa fa-user"></i> Profile </a>
            <div class="nav-item-divider"></div>
            <a href="" class="dashboard-nav-item"><i class="fa fa-sign-out"></i> Logout </a>
        </nav>
    </div>
    <div class='dashboard-app'>
        <header class='dashboard-toolbar'><a  class="menu-toggle"><i class="fa fa-bars"></i></a></header>
        <div class='dashboard-content'>
            <div class='container'>
                <div class='card'>
                    <div class='card-header'>
                        <h1>Welcome back Jim</h1>
                    </div>
                    <div class='card-body'>
                        <p>Your account type is: Administrator</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>